html,
body {
  width: 100%;
  height: 100%;
  padding: 20px;
  font: 'Gotham SSm A',sans-serif,Arial,'Gotham SSm B';
}

body {
  margin: 0;
  display: body;
  justify-content: center;
  align-items: center;
}

input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  width: 240px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
th, td {
  border-bottom: 1px solid #ddd;
  padding: 5px;
  text-align: left;
}
tr:hover {background-color: #eeeeee;}
tr,th {
  min-width: 100px;
}